.twin-container {
    display: flex;
}

.product-container {
    width          : 70%;
    margin-left    : 15px;
    margin-right   : 5px;
    /* border-right: 1px solid lightgrey; */
}

.search-input {
    text-align: center;
    width     : 95%;
    margin    : 10px
}

.cart-container {
    position     : fixed;
    right        : 150px;
    top          : 200px;
    bottom       : auto;
    margin-top   : 0px;
    overflow     : hidden;
    border-left  : 1px solid lightgrey;
}

@media (max-width:1260px) {
    .cart-container {
        width     : 8rem;
        text-align: center;
        position  : fixed;
        left      : 220px;
        top       : 215px;
        bottom    : auto;
        margin-top: 0px;
    }

    .search-input {
        width: 60%;
    }

}

/* @media (min-width:768px) {
    .cart-container {
        width     : 8rem;
        text-align: center;
        position  : fixed;
        left      : 420px;
        top       : 215px;
        bottom    : auto;
        margin-top: 0px;
    
    }
} */