.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.main-button{
    background-color: goldenrod;
    width: 8rem;
    height: 2rem;
    border: 1px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
}


@media(max-width:1360px){
    .product{
        width:70%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .product img{
        width: 150px;
    }
    .main-button{
        width: 8rem;
    }
    .product-name{
        color: blue;
        font-size: 14px;
    }
}

/* @media(min-width:760px){
    .product{
        width:70%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .product img{
        width: 150px;
    }
    .main-button{
        width: 8rem;
    }
    .product-name{
        color: blue;
        font-size: 14px;
    }
} */


/* .product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
}
.productName{
    color: blue;
    font-weight: 400;
}

.productButton{
    background-color: goldenrod;
    width:150px;
    height: 30px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
} */
